.user-card {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    z-index: 999;
    p {
        font-weight: 600;
    }
    img {
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }
}
.user-name {
    cursor: pointer;
    position: relative;
    &:hover {
        .user-card{
            display:block;
        }
    }
}
